<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>
</head>
<body>
<h2>Đăng ký tài khoản</h2>

<form th:action="@{/register_save}" th:object="${userDTO}" method="post">
    <div>
        <label for="name">Tên đăng nhập:</label>
        <input type="text" id="name" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div>
    </div>

    <div>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
    </div>

    <input type="submit" value="Đăng ký">
</form>
</body>
</html>
